UCI HAR Dataset.zip
archive.zip
UCI HAR Dataset
Report Minor Project_ Human Activity Recognition.zip
Human Activity Recognition.pdf
HumanActivityRecogIEEE.pdf
HumanActivityRecognitionusingSmartphone.pdf
1-s2.0-S1877050914008643-main.pdf
.ipynb_checkpoints